.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
.header .logo {
  margin-right: 76px;
}

.address-item:not(:last-child) {
  margin-right: 40px;
}

.address-list {
  display: flex;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link {
  padding-top: 23px;
  padding-bottom: 23px;
}

/* Hero styles */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1_desc@2.jpg);
  }
}

.hero-title {
  margin-bottom: 48px;
}

/* What we provide section */

.provide {
  padding-top: 120px;
  padding-bottom: 120px;
}

.provide-icons {
  display: block;
}

.icon-box {
  display: flex;
}

.provide-list {
  gap: 24px;
}

.provide-item {
  flex-basis: calc((100% - 72px) / 4);
}

.provide-item .secondary-titles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* What are we doing section */

.doing {
  display: block;
}

/* Team list section */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team .main-titles {
}

.team-list {
  gap: 24px;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);
}
.team-img {
}
.team-item .secondary-titles {
}
.team-text {
}

.item-box {
  padding: 32px 0;
}

/* Customers */

.customers-list {
}

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers .main-titles {
}

.customers-item {
}

.customers-link {
}

.customers-icons {
}

/* Footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .container {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  align-items: baseline;
}

.footer .logo {
}

.footer-logo {
  color: var(--secondary-background-color);
}

.footer-motto {
  margin-left: 0;
}

.footer-text {
}

.footer-socials {
  margin-left: 120px;
}

.footer-socials .footer-text {
}

.footer-socials .social-list {
}

.footer-socials .social-icons {
}
.footer .social-link {
}

.footer .social-link:hover {
}
.footer .social-link:focus {
}

.footer-form {
  align-items: center;
}

.footer-option {
  margin-left: 80px;
}

.form-text {
}

.footer-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
}
.footer-input:focus-visible {
}

.footer-input::placeholder {
}

.submit-btn {
}

.submit-btn:hover,
.submit-btn:focus {
}

.submit-icon {
}

/* Modal wd */

.modal {
}
