.container {
  max-width: 768px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
.header-nav {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 120px;
}

.nav-link {
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  display: block;
  margin-left: auto;
  font-style: normal;
}

.address-list {
  display: block;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.address-link {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero styles */

.hero {
  max-width: 768px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg_tab.jpg);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg_tab@2x.jpg);
  }
}

.hero-title {
  margin-bottom: 36px;
  max-width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: none;
}

/* What we provide section */

.provide {
}

.provide-icons {
}

.icon-box {
}

.provide-list {
  gap: 72px 24px;
}

.provide-item {
  flex-basis: calc((100% - 24px) / 2);
}

.provide-item .secondary-titles {
  text-align: start;
}

/* What are we doing section */

.doing {
}

/* Team list section */

.team {
}

.team .main-titles {
}

.team-list {
  gap: 64px 24px;
}

.team-item {
  flex-basis: calc((100% - 24px) / 2);
}
.team-img {
}
.team-item .secondary-titles {
}
.team-text {
}

.item-box {
  padding: 32px 0;
}

/* Customers */

.customers-list {
  gap: 72px 24px;
  justify-content: center;
}

.customers {
}

.customers .main-titles {
}

.customers-item {
  max-width: 168px;
}

.customers-link {
}

.customers-icons {
}

/* Footer */
.footer {
}

.footer .container {
  display: flex;
  max-width: 582px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 24px;
  align-items: baseline;
}

.footer .logo {
  display: inline-block;
}

.footer-logo {
}

.footer-motto {
  max-width: 264px;
}

.footer-text {
  max-width: 264px;
}

.footer-socials {
}

.footer-socials .footer-text {
}

.footer-socials .social-list {
}

.footer-socials .social-icons {
}
.footer .social-link {
}

.footer .social-link:hover {
}
.footer .social-link:focus {
}

.footer-form {
  flex-direction: row;
  justify-content: space-between;

  max-width: 453px;
}

.footer-option {
  max-width: 453px;
}

.form-text {
  text-align: start;
}

.footer-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  margin: 0;
}
.footer-input:focus-visible {
}

.footer-input::placeholder {
}

.submit-btn {
}

.submit-btn:hover,
.submit-btn:focus {
}

.submit-icon {
}

/* Modal wd */

.modal {
  width: 408px;
}
